:root {
  --primaryMain: #31986a;
    --primaryDark: rgba(51,51,51,0.4);
    --primaryAccent: #4a90e2;
    --primaryText: #000;
    --secondaryMain: #4a90e2;
    --secondaryDark: #3d3f65;
    --secondaryAccent: #188262;
    --secondaryText: #fff;
    --tertiaryLight: #2a2a2a;
    --tertiaryMain: #000818;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('../../../../spaceBackground.jpeg');
  background-size: cover;
}

#root {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr [main-column] 2fr 1fr;
}

.mainDiv {
  margin: 0;
  height: 100%;
  margin-top: 20vh;
  grid-column: main-column;
  grid-template-rows: [logo] 200px [pageheader] 50px [body-comp] 1fr;
}

.header-component {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--primaryAccent);
  border: 3px solid #4569A9;
  border-radius: 5px;
  padding: 15px 0px;
  color: var(--secondaryText);
  font-family: 'Roboto';
  font-size: 14px;
  width: 27vw;
  margin: auto; 
  height: 3vw;
  text-align: center;
  text-justify: auto;
  justify-content: center;
  
  
}

.body-component {
  grid-row: body-comp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo {
  grid-row: logo;
  width: 50vw;
  
  /* width: 30vw; */
}


.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 30px;
  outline: 0;
  cursor: pointer;
  padding: 15px 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: var(--secondaryText);
  background-color: var(--primaryMain);
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  width: 20vw;
  height: 4vw;
  font-family: 'Roboto';
  font-size: 22px;

}

.Btn:hover {
    background-color: var(--primaryMain);
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.MultipleChoiceInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.AllOptionsTable {
  color: var(--secondaryText)
}

.pros-cons-input1 {
  color: var(--secondaryText)
}

h1 {
  color: var(--secondaryText)
}

input {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  border-radius: 1px;
  font-size: 16px;
  height: 50px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  width: 26vw;
  text-size-adjust: 24px;
  margin-top: 30px;
}

.header:focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;

}

.darkBlueSpan {
  position: relative;
  justify-content:center ;
}

input {
  font-size: 50px;
  height: 200px;
  width: 1000px;
 
}

.start-input {
  font-size: 50px;
  height: 100px;
  width: 100px;
  text-align: center;
  box-shadow: inset 0px 8px 8px
  rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}



