@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primaryMain: #31986a;
    --primaryDark: rgba(51,51,51,0.4);
    --primaryAccent: #4a90e2;
    --primaryText: #000;
    --secondaryMain: #4a90e2;
    --secondaryDark: #3d3f65;
    --secondaryAccent: #188262;
    --secondaryText: #fff;
    --tertiaryLight: #2a2a2a;
    --tertiaryMain: #000818;
}

  body {
    margin: 0;
    height: 100%;
    background-image: url('../../../../spaceBackground.jpeg');
    background-size: cover;
    font-family: 'Roboto';
  }
  
  #root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 96%; 
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 4.3vh;
  }
  
  .Display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  }
  
  .header-component {
    display: flex;
    flex-direction: column;
    width: max(30vw, 250px);
    height: 8vh;
    max-height: 100px;
    text-align: center;
    justify-content: center; 
    background-color: var(--primaryAccent);
    border: 3px solid #4569A9;
    border-radius: 15px;
    color: var(--secondaryText);
    font-family: 'Roboto';
  }
  .header-component > h1 {
    font-size: min(4vw, 25px)
  }
  
  .body-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12vh;
    height: 60vh;
    width: 30vw;
  }
  
  .logo {
    grid-row: logo;
    max-width: 850px;
    width: 90vw;
  }
  
  .decision-input {
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid rgb(181, 189, 196);
    height: 50px;
    width: 500px;
  }
  
  .pros-cons-input {
    display: flex;
    height: 600px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  @media only screen and (min-width: 1000px) {
    .pros-cons-input {
      flex-wrap: wrap;
    }
  }

  .pro-con-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  
  .pro-con {
    display: flex;
    gap: 20px;
  }
  
  .pro-con > input {
    width: min(40vw, 250px);
    height: min(10vh, 40px);
    border-radius: 10px;
    font-size: 20px;
  }
  
  .custom-select {
    position: relative;
  }
  
  .custom-select {
    appearance: none;
    background-color: #C4C4C4;
    padding: 0 1em 0 0;
    margin: 0;
    width: min(4.5vw, 90px);
    font-size: min(3vw, 30px);
  }
  
  .pro-con-select {
    appearance: none;
    background-color: #C4C4C4;
    padding: 0 1em 0 0;
    margin: 0;
    width: 200px;
    font-size: 20px;
  }
  
  .pro-con-header {
    display: flex;
    flex-direction: column;
    width: min(40vw, 300px);
    font-size: min(3.5vw, 20px);
    height: 10vh;
    text-align: center;
    justify-content: center; 
    background-color: var(--primaryAccent);
    border: 3px solid #4569A9;
    border-radius: 15px;
    color: var(--secondaryText);
    font-family: 'Roboto';
  }
  
  .pro-con-vote {
    display: flex;
    height: 400px;
    width: 1500px;
    justify-content: space-between;
    gap: 50px;
  }
  
  .vote-header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80px;
    text-align: center;
    justify-content: center; 
    background-color: var(--primaryAccent);
    border: 3px solid #4569A9;
    border-radius: 15px;
    color: var(--secondaryText);
    font-family: 'Roboto';
  }
  
  .vote-container {
    display: flex;
    flex-direction: column;
  }
  
  .results {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  
  p {
    color: white;
    font-size: 25px;
  }
  
  h1 {
    color: white;
  }
  
  h2 {
    color: white;
    font-size: 30px;
  }
  
  .submit {
    font-size: min(3.5vw, 30px); 
    cursor: pointer;
    color: var(--secondaryText);
    background-color: var(--primaryMain);
    border: 1px solid;
    border-radius: 15px;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    width: max(15vw, 100px);
    height: max(7vh, 40px);
    font-weight: 500;
  }
  
  .Btn:hover {
      background-color: var(--primaryMain);
      border-color: #1b1f2326;
      transition-duration: 0.1s;
  }
  
  /*The container around them*/
  .options-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
  }
  
  /*Each individual input field*/
  .options-input {
    width: 700px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
  }
  
  .AllOptionsTable {
    color: var(--secondaryText)
  }
  
  h1 {
    color: var(--secondaryText);
  }
  
  .header:focus {
      background-color: #fff;
      border-color: #3b49df;
      box-shadow: 1px 1px 0 #3b49df;
  
  }
  
  .darkBlueSpan {
    position: relative;
    justify-content:center ;
  }
  
  .start-input {
    font-size: 30px;
    height: 80px;
    width: 80px;
    text-align: center;
    box-shadow: inset 0px 8px 8px
    rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  
  
  

